In [1]:
#Variabel
x = 'hallo'

In [2]:
print(x)

hallo

In [3]:
y=5
y
print(y)

5

In [4]:
k=5.5
print(k)

5.5

CONDITIONAL 
if<kondisi>:
..( statement ) 
..( statement )

In [6]:
if True:
    print('hallo')
    print('statement 2')

hallo
statement 2

In [34]:

nomor = eval(input ('Masukan Nomor Favorit Anda'))
if nomor > 30:
    print(f'{nomor} diatas 30')
    #elif bisa ada banyak if dan else cuma 1
elif nomor == 30:
    print(f'{nomor} sama dengan')
elif 10 < nomor < 20:
    print(f'{nomor} di atas 10 dibawah 20')
else:
    print(f'{nomor} dibawah 10')

5 dibawah 10

In [11]:
A : 80 <= x <= 100
B : 70 <= x < 80
C : 60 <= x < 70
D : 40 <= x < 60
E: 0 <= x < 40

False

In [49]:
nilai = eval(input ('Masukan Nilai Anda ' ))
if 0 <= nilai <= 100:
    if nilai < 40:
        print (f'{nilai} adalah indeks E')
    elif nilai <60:
        print (f'{nilai} adalah indeks D')
    elif nilai <80:
        print (f'{nilai} adalah indeks B')
    else:
        print(f'{nilai} adalah indeks A')
else:
    print('Angka tidak valid')

Angka tidak valid

In [50]:
cities = ['Tokyo', 'Surabaya', 'Yogyakarta', 'Medan', 'Paris']
print(cities)
kota = 'Tokyo'
if kota in cities:
    print (f'{kota} berada dalam list cities')

['Tokyo', 'Surabaya', 'Yogyakarta', 'Medan', 'Paris']
Tokyo berada dalam list cities

LOOPING
#While loop

In [53]:
angka = 4
angka = angka + 1
i = 0
while i < 5:
    print(i)
    i = i + 1

0
1
2
3
4

# nested while

In [60]:
i = 1
j = 1

while i <= 10:
    while j<= 10:
        print(f'{i}x{j} = {i*j}')
        j = j + 1
    print('='*10)
    i = i + 1
    j = 1

1x1 = 1
1x2 = 2
1x3 = 3
1x4 = 4
1x5 = 5
1x6 = 6
1x7 = 7
1x8 = 8
1x9 = 9
1x10 = 10
==========
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
2x10 = 20
==========
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
3x10 = 30
==========
4x1 = 4
4x2 = 8
4x3 = 12
4x4 = 16
4x5 = 20
4x6 = 24
4x7 = 28
4x8 = 32
4x9 = 36
4x10 = 40
==========
5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
5x10 = 50
==========
6x1 = 6
6x2 = 12
6x3 = 18
6x4 = 24
6x5 = 30
6x6 = 36
6x7 = 42
6x8 = 48
6x9 = 54
6x10 = 60
==========
7x1 = 7
7x2 = 14
7x3 = 21
7x4 = 28
7x5 = 35
7x6 = 42
7x7 = 49
7x8 = 56
7x9 = 63
7x10 = 70
==========
8x1 = 8
8x2 = 16
8x3 = 24
8x4 = 32
8x5 = 40
8x6 = 48
8x7 = 56
8x8 = 64
8x9 = 72
8x10 = 80
==========
9x1 = 9
9x2 = 18
9x3 = 27
9x4 = 36
9x5 = 45
9x6 = 54
9x7 = 63
9x8 = 72
9x9 = 81
9x10 = 90
==========
10x1 = 10
10x2 = 20
10x3 = 30
10x4 = 40
10x5 = 50
10x6 = 60
10x7 = 70
10x8 = 80
10x9 = 90
10x10 = 100
==========

In [61]:
i = 10

while i < 5:
    print('i dibawah 5')
else:
    print('i dibawah 5')

i dibawah 5

FOR LOOP

In [64]:
cities = cities + ['Labuan Bajo', 'Kalimantan Selatan']
print(cities)

for i in cities:
    print(i)

['Tokyo', 'Surabaya', 'Yogyakarta', 'Medan', 'Paris', 'Labuan Bajo', 'Kalimantan Selatan', 'Labuan Bajo', 'Kalimantan Selatan']
Tokyo
Surabaya
Yogyakarta
Medan
Paris
Labuan Bajo
Kalimantan Selatan
Labuan Bajo
Kalimantan Selatan

In [70]:
print(list(range(1,10)))

for i in range(1,11):
    for j in range(1,11):
        print (f'{i} * {j} = {i*j}')
        j = j + 1
    print("="*10)
    i = i + 1
    j = 1

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
==========
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
==========
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
==========
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
==========
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
==========
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
==========
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
==========
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
==========
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
==========
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
==========

In [71]:
cities

['Tokyo',
 'Surabaya',
 'Yogyakarta',
 'Medan',
 'Paris',
 'Labuan Bajo',
 'Kalimantan Selatan',
 'Labuan Bajo',
 'Kalimantan Selatan']

In [72]:
idx = 0
while idx < len (cities):
    print(cities[idx])
    idx = idx +1

Tokyo
Surabaya
Yogyakarta
Medan
Paris
Labuan Bajo
Kalimantan Selatan
Labuan Bajo
Kalimantan Selatan

FLOW CONTROL STATEMENT

In [73]:
# continue
for i in range(0, 11):
    if i in [2, 6, 7, 9]:
        continue
    print (i)

0
1
3
4
5
8
10

In [75]:
# break
for i in range (0,11):
    if i in [2, 6, 7, 9]:
        break
    print (i)

0
1

In [79]:
i = 1
j = 1

while i <= 10:
    i = i + 1
    j = 1
    if i in [4,5,6]:
        continue
    while j <= 10:
        print (f'{i}x {j} = {i*j}')
        j = j + 1
    print('='*10)

2x 1 = 2
2x 2 = 4
2x 3 = 6
2x 4 = 8
2x 5 = 10
2x 6 = 12
2x 7 = 14
2x 8 = 16
2x 9 = 18
2x 10 = 20
==========
3x 1 = 3
3x 2 = 6
3x 3 = 9
3x 4 = 12
3x 5 = 15
3x 6 = 18
3x 7 = 21
3x 8 = 24
3x 9 = 27
3x 10 = 30
==========
7x 1 = 7
7x 2 = 14
7x 3 = 21
7x 4 = 28
7x 5 = 35
7x 6 = 42
7x 7 = 49
7x 8 = 56
7x 9 = 63
7x 10 = 70
==========
8x 1 = 8
8x 2 = 16
8x 3 = 24
8x 4 = 32
8x 5 = 40
8x 6 = 48
8x 7 = 56
8x 8 = 64
8x 9 = 72
8x 10 = 80
==========
9x 1 = 9
9x 2 = 18
9x 3 = 27
9x 4 = 36
9x 5 = 45
9x 6 = 54
9x 7 = 63
9x 8 = 72
9x 9 = 81
9x 10 = 90
==========
10x 1 = 10
10x 2 = 20
10x 3 = 30
10x 4 = 40
10x 5 = 50
10x 6 = 60
10x 7 = 70
10x 8 = 80
10x 9 = 90
10x 10 = 100
==========
11x 1 = 11
11x 2 = 22
11x 3 = 33
11x 4 = 44
11x 5 = 55
11x 6 = 66
11x 7 = 77
11x 8 = 88
11x 9 = 99
11x 10 = 110
==========

In [86]:
nilai = 0
if 0 <= nilai <= 100:
    if nilai < 40:
        print (f'{nilai} adalah indeks E')
    elif nilai <60:
        print (f'{nilai} adalah indeks D')
    elif nilai <80:
        print (f'{nilai} adalah indeks B')
    else:
        print(f'{nilai} adalah indeks A')
else:
    print('Angka tidak valid')

# rafif nilai 70, ddwi nilai 80, ezar nilai 85
d = {'rafif' : 70 , 'dwi' : 80, 'ezar' : 85}
print(d)
print(d.keys())
print(d.values())
print(d.items())

0 adalah indeks E
{'rafif': 70, 'dwi': 80, 'ezar': 85}
dict_keys(['rafif', 'dwi', 'ezar'])
dict_values([70, 80, 85])
dict_items([('rafif', 70), ('dwi', 80), ('ezar', 85)])

In [89]:
for nama, nilai in d.items():
    print(nama, 'dengan nilai', nilai)

rafif dengan nilai 70
dwi dengan nilai 80
ezar dengan nilai 85

In [92]:
grade = {}

for nama, x in d.items():
  if 0 <= x <= 100:
    if 80 <= x:
      grade[nama] = 'A'
    elif 70 <= x:
      grade[nama] = 'B'
    elif x >= 60:
      grade[nama] = 'C'
    elif x >= 40:
      grade[nama] = 'D'
    else:
      grade[nama] = 'E'
  else:
    print('Angka tidak valid')
grade

{'rafif': 'B', 'dwi': 'A', 'ezar': 'A'}

In [104]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(type(angka))

above_5 = []

for value in angka:
  if value > 5:
    above_5.append(value)

above_5

<class 'list'>

[6, 7, 8, 9, 10]