In [6]:
#Pengenalan Jenis Data
#Interger Float Complex

#Interger
angka = 5
print(angka)
type(angka)

5

int

In [7]:
#Float
number = 4.2
print(number)
type(number)

4.2

float

In [8]:
#Complex
persamaan = 4+5j
print(persamaan)
type(persamaan)

(4+5j)

complex

In [9]:
angka = 4.7e9
print(angka)

4700000000.0

In [10]:
angka= 4.7e-5
print(angka)

4.7e-05

In [14]:
#string: seq. of char
nama = "Ivan"
print(nama)
print(type(nama))
hari= "Jum'at"
print(hari)

Ivan
<class 'str'>
Jum'at

In [19]:
lirik = """Kita adalah sepasang sepatu 
selalu bersama tapi bisa bersatu kita mati bagai tak berjiwa bergerak karena kaki manusia
aku sang sepatu kanan kamu sang sepatu kiri"""
print(lirik)

Kita adalah sepasang sepatu
selalu bersama tapi bisa bersatu kita mati bagai tak berjiwa bergerak karena kaki manusia
aku sang sepatu kanan kamu sang sepatu kiri

In [23]:
nama = "Muhamad Ivan"
print(nama[6])
print(nama[-3])
print(nama[8:13:1])
print(nama[0:13:2])
print(nama[5:6])

d
v
Ivan
MhmdIa
a

In [24]:
# string formatting
# f-string
nama = "Ivan"
usia = 26
print(f"Nama kamu adalah : {nama} dan usia kamu adalah {usia}")

Nama kamu adalah : Ivan dan usia kamu adalah 26

USER INPUT PROGRAM

In [25]:
nama = input ("Masukkan nama Anda : ")
usia = input ("Masukkan usia Anda : ")
print(f"Nama kamu adalah : {nama} dan usia kamu adalah : {usia}")

Nama kamu adalah : Muhamad Ivan dan usia kamu adalah : 25 Tahun

In [26]:
nama = input ("Masukkan nama Anda : ")
usia = input ("Masukkan usia Anda : ")
print(f"""Nama kamu adalah : {nama} 
Usia kamu adalah : {usia}""")

Nama kamu adalah : Ivan
usia kamu adalah : 26

In [29]:
nama = input ("Masukkan nama Anda : ")
usia = input ("Masukkan usia Anda : ")
print(f"Nama kamu adalah : {nama}")
print(f"Usia kamu adalah : {usia}")

Nama kamu adalah : Ivan
Usia kamu adalah : 25

In [33]:
print(True)
print(False)
is_married = True
print(is_married)
type(is_married)

True
False
True

bool

In [35]:
a = 25
print(a == 25)
print(a == 30)

True
False

In [36]:
# Variabel Assignment
a = b = c = 15
e,d,f = 1,2,3
print(f"a : {a}")
print(f"b : {b}")
print(f"c : {c}")
print(f"d : {d}")
print(f"e : {e}")
print(f"f : {f}")

a : 15
b : 15
c : 15
d : 2
e : 1
f : 3

In [ ]:
# camel case
namaLengkapPria = "Muhamad Ivan" #class
#pascal case
NamaLengkapPria = "Muhamad Ivan" # var
#snake case
nama_lengkap_pria = "Muhamad Ivan" #var/fungsi

OPERASI

In [37]:
# operasi aritmatika
angka_1 = 7
angka_2 = 2
print(f"hasil penjumlahan : {angka_1 + angka_2}")
print(f"hasil pengurangan : {angka_1 - angka_2}")
print(f"hasil perkalian : {angka_1 * angka_2}")
print(f"hasil pembagian : {angka_1 / angka_2}")
print(f"hasil pembagian sisa bulat : {angka_1 // angka_2}")
print(f"hasil pangkat : {angka_1 ** angka_2}")
print(f"hasil sisa bagi : {angka_1 % angka_2}")

hasil penjumlahan : 9
hasil pengurangan : 5
hasil perkalian : 14
hasil pembagian : 3.5
hasil pembagian sisa bulat : 3
hasil pangkat : 49
hasil sisa bagi : 1

In [40]:
# operasi string
string_1 = "Muhamad"
string_2 = "Ivan"
print(f"Nama saya (Concatenation) : {string_1 + string_2}")
print(f"Repeating : {string_2 * 3}")

Nama saya (Concatenation) : MuhamadIvan
Repeating : IvanIvanIvan

COMPARISON OPERATOR

In [46]:
a = 5
b = 10

print(f" {a} == {b} (sama dengan) : {a == b}")
print(f" {a} =|= {b} (tidak sama dengan) : {a != b}")
print(f" {a} > {b} (lebih besar) : {a > b}")
print(f" a < b (lebih kecil) : {a < b}")
print(f" a >= b (lebih besar sama dengan) : {a >= b}")

 5 == 10 (sama dengan) : False
 5 =|= 10 (tidak sama dengan) : True
 5 > 10 (lebih besar) : False
 a < b (lebih kecil) : True
 a >= b (lebih besar sama dengan) : False

STRING MANIPULATION

In [52]:
nama = "Muhamad Ivan"
print(nama.upper())
print(nama.lower())
print(nama.swapcase())

MUHAMAD IVAN
muhamad ivan
mUHAMAD iVAN

TIPE DATA MAJEMUK

In [56]:
# list[] dan tuple()
my_list = [1, 2, 3.5, 'ivan', True, [1,2,3,4]]
my_tuple = (1, 2, 3.5, 'ivan', True, (1,2,3,4))
print(len(my_list))
print(len(my_tuple))
my_list[2]
print(my_tuple[1:3])
print(my_list[2:5])

6
6
(2, 3.5)
[3.5, 'ivan', True]

TUPLE ADALAH TIPE DATA IMMUTABLE (Data nya tidak bisa diubah/read only). Waktu baca untuk data bentuk ini lebih cepat
LIST ADALAH TIPE DATA IMMUTABLE ( DATA NYA BISA DIUBAH)

In [61]:

my_list[4] = "False"
print(my_tuple)
print(my_list)

(1, 2, 3.5, 'ivan', True, (1, 2, 3, 4))
[1, 2, 3.5, 'ivan', 'False', [1, 2, 3, 4]]

List Method

In [65]:
# menambahkan data pada list
a = [1, 2, 3, 4, 5]
print(a.append(100))
print(a.insert(3, 46))
print(a)

None
None
[1, 2, 3, 46, 4, 5, 100]

In [67]:
# Menghapus Data
a
a.remove(100)
del a[3]
a

[1, 2, 3, 4, 5]

DICTIONARY

biodata = { 'nama' : ' Ivan',
            'usia' : '26',
            'pekerjaan : 'HSE'
            'company' : 'usaha sendiri'}

In [72]:
biodata = { 'nama' : ' Ivan',
            'usia' : '26',
            'pekerjaan' : 'HSE',
            'company' : 'usaha sendiri'}

print(biodata)

{'nama': ' Ivan', 'usia': '26', 'pekerjaan': 'HSE', 'company': 'usaha sendiri'}

In [87]:
print(biodata['nama'])
print(biodata['usia'])
biodata['status'] = 'menikah'
print(biodata)
del biodata['status']
print(biodata)

 Ivan
26
{'nama': ' Ivan', 'usia': '26', 'pekerjaan': 'HSE', 'company': 'usaha sendiri', 'status': 'menikah'}
{'nama': ' Ivan', 'usia': '26', 'pekerjaan': 'HSE', 'company': 'usaha sendiri'}