Soal latihan untuk persiapan Live Code 1

Kisi-kisi apa saja yang akan keluar:

    Load data pandas menggunakan pd.read_csv, pd.read_excel. Sebagai latihan, bisa gunakan data-data di repo ini.
    Pembuatan dan penggunaan fungsi
    Pandas Query/Filtering
    For loop dan conditional if yang diterapkan pada pandas
    Akses row dataframe pandas menggunakan loc/iloc
    Akses kolom dataframe pandas
    Penggunaan method di dataframe/series pandas terutama method agregat (rata-rata, min, max, count, std, dll)

1. Buatlah dua fungsi untuk menghitung luas persegi dan jajargenjang

In [ ]:
#Luas
panjang = input (' Masukan panjang :')
lebar = input (' Masukan lebar :')
alas = input (' Masukan alas :')
tinggi = input (' Masukan tinggi :')

persegi = panjang * lebar 
jajargenjang = alas * tinggi
print(persegi)
print(jajargenjang)

2. Dengan data berikut, buatlah kolom baru yang bernama luas yang menyimpan hasil perhitungan luas persegi dan jajargenjang, dimana untuk kolom sisi1 yang nilainya lebih dari 10 akan dihitung luas persegi, dan kurang dari 10 dihitung jajargenjang. (Hint: Gunakan for loop dan if statement untuk mengerjakan nomor 2, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom luas).

In [1]:
import pandas as pd

data = pd.DataFrame({'sisi1':[5,8,2,5,7,15,6,20,56,1,42,7],'sisi2':[15,82,12,5,6,15,6,4,27,2,4,9]})
data

    sisi1  sisi2
0       5     15
1       8     82
2       2     12
3       5      5
4       7      6
5      15     15
6       6      6
7      20      4
8      56     27
9       1      2
10     42      4
11      7      9

3. Hitung standar deviasi (.std) kolom luas dimana sisi1 lebih dari 10 dan atau sisi 2 ganjil